<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
        integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="./style/style.css">
    <title>Vue Dischi Musicali</title>
</head>

<body>

    <div id="app">
        <header class="d-flex">
            <img src="./img/logo.svg" alt="logo">
            <div class="option">
                <select v-model="filterValue">
                    <option>All</option>
                    <option v-for="gen in genre">{{gen}}</option>
                </select>
            </div>
        </header>
        <main>
            <div class="album d-flex">
                <div v-for="music in data" class="card">
                    <img :src="music.poster" alt="img">
                    <h2>{{music.title}}</h2>
                    <article>{{music.author}}</article>
                    <time>{{music.year}}</time>
                </div>
            </div>
        </main>
    </div>
    <script src="./js/script.js"></script>
</body>

</html>