*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e2d3b;
}

header{
    background-color: #2e3a46;
    height: 70px;
    padding: 0 150px;
}

header img{
    width: 150px;
    height: 70px;
}

header .option{
    padding: 25px;
}

main{
    height: calc(100vh - 70px);
    padding: 50px;
}

main .album{
    padding: 0 150px;
    justify-content: center;
}

main .card{
    padding: 20px;
    background-color: #2e3a46;
    text-align: center;
    flex-basis: 250px;
    margin: 20px;
}

main .card img{
    width: 100%;
}

main .card h2{
    color: #fff;
}

main .card article,
main .card time{
    color: #808080;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}